# .vscode
.venv

__pycache__/

# checkpoint folders
initialization/
trained_checkpoint/
wandb/
trained_checkpoints/

# stitching evaluation cache & result directory.
evaluation/datasets/re10k_nvs_cache.npy
nvs_evaluation_result

checkpoints